force-app/main/default/flows/Calculate_Total_TineLog_on_Attendance_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_total_time_log_to_attendance</name>
        <label>Assign total time log to attendance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Time_Log_collection.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Time_Log_collection.Non_Billable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Time_Log_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_value_to_attendace</name>
        <label>assign value to attendace</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>oldTotalHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTotalHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Non_Billable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_varAttendanceId</name>
        <label>Assign value to varAttendanceId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttendanceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_OLD_Attendance_Details</name>
        <label>Capture OLD Attendance Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttendanceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttendanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTotalHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Logs_OLD_Attendance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_or_Attendance_Changed</name>
        <label>Date or Attendance Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_value_to_varAttendanceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Attendance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Attendance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_OLD_Attendance_Details</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Calculate Total TineLog on Attendance Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total TineLog on Attendance Records</label>
    <loops>
        <name>Loop_over_attendance</name>
        <label>Loop over attendance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Time_Logs_OLD_Attendance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_value_to_attendace</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_old_attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Time_Log_collection</name>
        <label>Loop over Time Log collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Time_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_total_time_log_to_attendance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_attendance_with_total_time_log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attendance</name>
        <label>Get Attendance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Logs</name>
        <label>Get Time Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Time_Log_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance.Attendance_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Time_Logs_OLD_Attendance</name>
        <label>Time Logs (OLD Attendance)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_attendance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_attendance_with_total_time_log</name>
        <label>Update attendance with total time log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Time_Log_Hours__c</field>
            <value>
                <elementReference>varTotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_attendance</name>
        <label>Update old attendance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_value_to_varAttendanceId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendanceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Time_Log_Hours__c</field>
            <value>
                <elementReference>oldTotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_or_Attendance_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Time_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>oldTotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAttendanceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttendanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
